# Copy this file to .env on the server before running docker compose.

MYSQL_DATABASE=survey
MYSQL_ROOT_PASSWORD=123456

MINIO_ROOT_PASSWORD=123456more8

JWT_SECRET=survey_admin_about_jwt

NEXT_PUBLIC_URL=http://47.108.170.161:8888
VITE_SERVICE_BASE_URL=
VITE_SERVICE_MOBILE_URL=http://47.108.170.161:3000
CORS_ORIGINS=http://47.108.170.161:8080,http://47.108.170.161:3000,http://localhost:8080,http://localhost:3000
